<div class="alt-box">

<h1>edit your profile</h1>

<%= form_for :user, url: user_path(current_user), method: :patch do |f| %>
  <p>
    <%= f.email_field :email, { value: current_user.email} %>
  </p>

  <p>
    <%= f.submit "update" %>
  </p>
<% end %>

</div>

