.hidden, .active {
  background-color: #ddd;
  float: right;
  box-shadow: 0 0 10px #bbb;
  padding: 20px;
  position: relative;
  border: 3px solid #aaa;
  display: inline-block;
  margin: 0 0 30px 0;
}

.slide {
  background-color: #ddd;
  float: right;
  box-shadow: 0 0 10px #bbb;
  padding: 20px;
  position: relative;
  border: 3px solid #aaa;
  display: inline-block;
  margin: 0 0 30px 0;
  box-sizing: border-box;
}

.float-inline {
  position: relative;
  float: left;
}

.slide-object {
  position: absolute;
  min-width: 200px ;
  min-height: 60px;
  text-align: center;
  border: 1px dotted black;
  overflow: hidden;
}

.slide-object .editable {
  height: 100%;
  width: 100%;
  text-overflow: clip;
  font-size: 2em;
}

.slide-object input {
  background: none;
  color: black;
  font-size: 100%;
  border: none;
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

.div-header {
  margin: -10px;
  padding: 3px 10px;
  background-color: rgb(14,119,194);
  border-bottom: 2px solid rgb(5,33,54);
}

.slide-settings {
  color: white;
  padding: 10px;
/*    -webkit-box-shadow: 0 8px 15px -2px #555;
     -moz-box-shadow: 0 8px 15px -2px #555;*/
          box-shadow: 0 8px 15px -2px #000;
  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(rgb(28,28,28)), color-stop(0.07, rgb(61,61,61)), to(rgb(107,104,107)));
  background-image: -webkit-linear-gradient(bottom, rgb(28,28,28) 0%, rgb(61,61,61) 7%, rgb(107,104,107) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(28,28,28) 0%, rgb(61,61,61) 7%, rgb(107,104,107) 100%);
  background-image: -o-linear-gradient(bottom, rgb(28,28,28) 0%, rgb(61,61,61) 7%, rgb(107,104,107) 100%);
  background-image: linear-gradient(bottom, rgb(28,28,28) 0%, rgb(61,61,61) 7%, rgb(107,104,107) 100%);
}

.edit-slide-page {
  margin-top: 20px;
  box-shadow: 0 0 40px #999;
}

a.button {
  color: white;
  text-decoration: none;
  padding: 0 10px;
  display: block;
  height: 100%;
}

a.button:hover {
  color: green;
}

#edit-slide-color-picker, #edit-slide-add-element {
  position: absolute;
}

.hidden-div {
  background-color: rgb(61,61,61);
  box-shadow: 0 0 10px black;
  padding: 5px;
  display: none;
  z-index: 1;
}
